#system-container { height: 100%; }
.tpl-header { margin: inherit; padding: inherit; height: 40px; line-height: 40px; background-color: #111820; display: flex; border-bottom: 1px white dashed; }
.tpl-header .icon { width: 25px; height: 25px; padding: 5px; background-color: white; border-radius: 50%; line-height: 30px; }
.tpl-header > .title { flex: 1; font-family: "Microsoft Sans Serif"; font-size: 14px; color: #FFFFFF; text-align: center; }

.footer { width: 100%; height: 30px; line-height: 30px; border-top: 1px white dashed; }
.footer > .copyright { height: 30px; color: #FFFFFF; text-align: center; }

#do-exit { background-color: #111820; border: 0px; }
#content-menu { background-color: grey; }
#content-menu > button {  background-color: #111820; color: white; height: 50px; line-height: 40px; font-size: 20px; }
#content-menu > button:hover {  background-color: indianred;}
#content-menu > .choose { border-left: indianred 5px solid; }

#content-container { background-color: #eeeeee; padding: 100px; }

.system-user { height: 30px; background-color: #111820; color: white; padding: 5px 20px; }
.system-user > .tips { height: 30px; line-height: 25px; color: white; }
