{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>囊胚质量判定系统--操作台</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{%  static 'css/common-small.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%  static 'css/system-special.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%  static 'css/history-special.css' %}" />
    <script type="module" src="{% static 'js/System.js' %}"></script>
    <script type="module" src="{% static 'js/History.js' %}"></script>
</head>
<body>
{% csrf_token %}
<div class="layout-flex-col" id="system-container">
    <div class="tpl-header">
        <div class="title">囊胚质量判定系统</div>
        <button id="do-exit"><img class="icon" src="{% static 'pic/icon.png' %}"/></button>
    </div>

    <div class="unit-n layout-flex-row">
        <div class="unit-2 layout-flex-col" id="content-menu">
            <div class="system-user layout-flex-row">
                <div class="tips"> 当前用户:</div>
                <div class="unit-n" style="text-align: center; ">{{ user_name }}</div>
            </div>
            <button class="" id="to-system">首页</button>
            <button class="" id="to-upload">图片上传</button>
            <button class="choose" id="to-history">历史记录</button>
            <button class="" id="to-predict" disabled="disabled">结果分析</button>
            <button class="" id="to-exit">退出</button>
            <div class="unit-n"></div>
        </div>

        <div class="unit-8" id="content-container">
            <div class="layout-flex-col" style="width: 100%; height: 100%;">
                <div class="" id="history-title">
                    <div class="unit-1"> 编号 </div>
                    <div class="unit-2"> 历史记录ID </div>
                    <div class="unit-1"> 红色比率 </div>
                    <div class="unit-1"> 绿色比率 </div>
                    <div class="unit-1"> 内细胞团判定 </div>
                    <div class="unit-1"> 总判定 </div>
                    <div class="unit-1"> 查看 </div>
                </div>
                <div id="history-container">
                    {% for i,d in querydata %}
                        <div class="record-unit">
                            <div class="unit-1"> {{ i }} </div>
                            <div class="unit-2"> {{ d.oid }} </div>
                            <div class="unit-1"> {{ d.oratiored }} %</div>
                            <div class="unit-1"> {{ d.oratiogreen }} %</div>
                            <div class="unit-1"> {{ d.oresulta }} </div>
                            <div class="unit-1"> {{ d.oresultall }} </div>
                            <div class="unit-1"> <button value="{{ d.oid }}">查看具体内容</button> </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="unit-n" id="history-pagechange">
                    <div class="unit-8"></div>
                    <div > <button>上一页</button> </div>
                    <div > <input type="text" style="width: 20px; text-align: center;" value="1"> </div>
                    <div > <button>下一页</button> </div>
                    <div class="unit-1"></div>
                </div>

            </div>
        </div>
    </div>

        <!-- 系统的尾部，包括系统使用的技术、网站备案号 -->
        <div class="footer">
            <div class="copyright"> Powered By Django ©2019-2020 leobod 苏ICP备17004905号</div>
        </div>
    </div>


    <div class="color-bg-container position-bg">
        <div style="background-color: #111820; height: 100%; "></div>
    </div>

</div>
</body>
</html>