{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎使用BMP系统</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/common-small.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/component-small.css' %}">
    <style type="text/css">
        #login-container-outer { width: 77%; height: 100%; }
        #login-container-inner { background-color: white; height: 55%;  border-radius: 10px; }
        #login-poster { overflow: hidden; }
        #in-smscode { display: inline-block; width: 60%; }
        #do-smscode { display: inline-block; width: 30%; height: 24px; border-radius: 5px; margin-left: 5%; overflow: hidden; }
    </style>
    <script type="module" src="{% static 'js/Register.js' %}"></script>
</head>
<body>
    <div class="layout-flex-col align-hor-c" id="login-container-outer">
        <div class="unit-n article">
            <div class="align-ver-c layout-flex-row shadow-all" id="login-container-inner">
                <img class="unit-3" id="login-poster" src="{% static 'pic/home/poster-default.png' %}">
                <div class="unit-2 layout-flex-col com-form">
                    {% csrf_token %}
                    <div class="unit-1 title">BMP系统--用户注册</div>
                    <div class="unit-n"></div>
                    <div class="unit-1"> <input class="text" type="text" placeholder="请在此输入手机号" name="in-account" id="in-account"> </div>
                    <div class="unit-1">
                        <input class="text" type="text" placeholder="请在此输入短信验证码" name="in-smscode" id="in-smscode">
                        <button class="button" id="do-smscode">发送验证码</button>
                    </div>
                    <div class="unit-1"> <input class="text" type="password" maxlength="20" placeholder="请在此输入密码" name="in-password" id="in-password"> </div>
                    <div class="unit-1"> <input class="text" type="password" maxlength="20" placeholder="请确认你的密码" name="in-password-re" id="in-password-re"> </div>
                    <div class="unit-1"> <label class="error" id="out-tips"></label> </div>
                    <div class="unit-n"></div>
                    <div class="unit-1"><button class="button" id="do-register">注册</button> </div>
                    <div class="unit-1" style="text-align: center; ">Or</div>
                    <div class="unit-1"><button class="button" id="do-login">返回登录</button> </div>
                    <div class="unit-1" style="text-align: right;"> <a href="./forget" id="do-forget">忘记密码</a> </div>
                </div>
            </div>
        </div>
        <!-- 系统的尾部，包括系统使用的技术、网站备案号 -->
        <div class="tpl-footer"> <div class="copyright"> Powered By Django  ©2019-2020 leobod 苏ICP备17004905号 </div> </div>
    </div>

    <div class="color-bg-container position-bg">
        <div class="red-4"></div>
        <div class="white-6"></div>
    </div>

</body>
</html>